$white: #fff;
$black: #000000;
$text-secondary-dark:#939498;
$text-primary-dark:#BECFFE;
$menu-background: #1F2125;
$active-menu-background: #484A4E;
$text-secondary: #767676;
$primary: #0074E0;
$menu-border: #474a4e;
$menu-account-border: #737D9A;
$border-color: #E4E4E4;
$primary-color: #0074E0;

$dark: #17191A;
$heading-name:#000033;
$nav-text_a_color:#939498;
$add_filter_button:#2196f3;
$error_toast_button:#FF3333;
$success_toast_button:#4ba54b;
$main-background-color:#F5F5FA;